- if @my_tags
  .margin-bottom-40
    .headline
      %h3= t('edit_tags.title')
    - t('tags').each do |tag_name|
      = link_to tag_name, handle_tag_trip_path( @trip, :tag => tag_name ), :class => "label handle_tag label-#{@my_tags.include?( tag_name ) ? 'success' : 'default'}" 