/ List Trip Results
.trips-result
  
  / Trip-Tags
  #trip_tags
    - Trip.tag_cloud( @trips ).each do |tag|
      %span.label.label-info= tag.name
  
  = render :partial => 'trip', :collection => @trips