.row
  = form_tag(trips_path, :method => :get, :class => "form-inline", :id => 'trips_search') do 
    
    // submit location-ID here
    = hidden_field_tag :location_id, params[:location_id]
    .input-group.col-lg-5
      .input-group-btn
        .btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown'} 
          %span.search-mode
          %span.caret
        %ul.dropdown-menu{:id => 'search_mode_select'}
          %li= link_to(t('trips.search.mode.location'), '#')
          %li= link_to(t('trips.search.mode.text'), '#')
      = text_field_tag :search, params[:search], :class => 'search-term form-control', :id => 'prededDropdownButton'

    .form-group.col-lg-2
      = select_tag :days, options_for_select( t('trips.search.days').each_with_index.collect{|d, i| [d, i]}), :class => 'form-control styled-select'

    .input-group.col-lg-3
      %span.input-group-addon= icon_label 'Max', users_currency.downcase
      = text_field_tag :price, '', :id => 'appendedPrependedInput', :class => 'form-control'

    .form-group.col-lg-2
      = button_tag icon_label(t('button.search'), 'search'), :class => 'btn btn-primary'

- content_for :doc_footer do
  :javascript
    $(document).ready(function() {
      TripsSearch.init( '#trips_search', '#trips_result', '#trip_tags_checkboxes', '#{t("trip.search.mode.#{@search_mode}")}' );
    });