/ Tags Filter for Trips-Result
-#
	%ul.nav.nav-list
		- Trip.tag_cloud( trips ).each do |tag|
			%li= label_tag( nil, "#{check_box_tag(:tag, tag_name, false)} #{tag_name}".html_safe, :class => 'checkbox' )

#trip_tags
	- t('tags').each do |tag_name|
		%span.label.label-default= icon_label tag_name, 'check-empty'