= content_tag :div, class: 'trip-small-preview-container' do
  .row  
    .col-md-2.trip-image
      = image_tag( trip.picture_for_index.file.url(:fixed_thumb), :class => 'img-responsive' ) if trip.picture_for_index
    
    .col-md-10
      .clearfix
        %h4.pull-left= link_to trip.name, trip
        .pull-right.trip-price= number_to_currency( trip.price, :precision => 0 )

      %ul.list-unstyled.list-inline.trip-tag-line
        %li= icon_label "#{trip.location.country_name}, #{trip.location.accent_city}", 'globe'
        %li= icon_label t('trips.preview.days', :count => trip.days).html_safe, 'calendar'
        
        - if trip.comments.any?
          %li.pull-right
            %ul.list-unstyled.list-inline
              %li= star_rating_outp trip.average_rating[:vote].to_i             