= content_tag :div, class: 'trip-preview-container trip', data: {lon: trip.location.longitude, lat: trip.location.latitude}, style: "background-color: #FAFAFA; margin-bottom: 20px;" do
  .blog.blog-medium
    .row  
      .col-md-3.trip-image
        = image_tag( trip.picture_for_index.file.url(:thumb), class: 'img-responsive' ) if trip.picture_for_index
      
      .col-md-9
        .clearfix
          %h2.pull-left= link_to trip.name, trip
          .pull-right.trip-price= number_to_multi_currency( trip.convert_price_to( users_currency ), users_currency.downcase, :precision => 0 )

        .trip-excerpt
          .row
            .col-md-8      
              - if trip.comments.any?
                %ul.list-unstyled.list-inline.blog-info
                  %li= star_rating_outp trip.average_rating[:vote].to_i
                  %li= icon_label t('trips.comment_count', count: trip.average_rating[:sum]), 'comments'        

              %p= trip.excerpt
              %p= icon_link_to t('trips.preview.button_label'), trip, 'chevron-right', class: 'btn-u btn-u-small'

            .col-md-4
              %ul.list-unstyled.list-inline.blog-info.who
                %li= icon_label "#{trip.location.country_name}, #{trip.location.accent_city}", 'globe'
                %li= icon_label t('trips.preview.days', :count => trip.days).html_safe, 'calendar'
                %li.trip-tags= trip.tags.collect.each{|tag| content_tag(:span, tag.name, class: 'label label-default')}.join(' ').html_safe