= breadcrumps t('trips.buttons.edit'), [link_to('home', root_path), link_to('My trips', my_trips_path)]

.container

  - unless @trip.is_published?
    .alert.alert-warning= t('trips.show.unpublished_notice')

  .row
    .col-md-7
      
      .tab-v2
        %ul.nav.nav-tabs
          %li.active= link_to t('.tabs.details'), '#details', data: {toggle: 'tab'}
          %li= link_to t('.tabs.pictures'), '#pictures', data: {toggle: 'tab'}
          %li= link_to t('.tabs.videos'), '#videos', data: {toggle: 'tab'}
        
        .tab-content

          // --- Form Tab
          #details.tab-pane.active
            = simple_form_for @trip do |f|
              = f.hidden_field :location_id, :id => 'location_id'

              = show_errors( @trip ) if @trip.errors.any?
              
              = f.input :is_published
              
              .form-group
                = f.label :location
                = text_field_tag :location, (@trip.location.autocomplete_string if @trip.location.present?), 
                  :class => 'autosuggest-location tooltip-field form-control', :data => {:content => t('trips.tooltips.location')}

              = f.input :name, :input_html => {:class => 'tooltip-field', :data => {:content => t('trips.tooltips.name')}}
              = f.input :description, :input_html => {:rows => 12, :class => 'tooltip-field wysihtml5', :data => {:content => t('trips.tooltips.description')}}
              = f.input :excerpt, :input_html => {:rows => 3, :class => 'tooltip-field', :data => {:content => t('trips.tooltips.excerpt')}}
              = f.input :included, :input_html => {:rows => 4, :class => 'tooltip-field', :data => {:content => t('trips.tooltips.included')}}
              = f.input :required, :input_html => {:rows => 4, :class => 'tooltip-field', :data => {:content => t('trips.tooltips.required')}}
              
              .form-group
                = f.label :price
                .input-group
                  .input-group-btn
                    = f.select :currency, AppConfig.major_currencies, { selected: users_currency }, 
                    {:class => 'form-control', :style => 'width:80px; border-right: none'}
                  = f.text_field :price, :value => @trip.convert_price_to( users_currency ), :class => 'tooltip-field form-control', :data => {:content => t('trips.tooltips.price')}

              = f.input :min_participants, :input_html => {:class => 'tooltip-field', :data => {:content => t('trips.tooltips.min_participants')}}

              .control-group
                .controls= f.submit t('button.save'), :class => 'btn btn-primary'

          // --- Pictures Tab
          #pictures.tab-pane
            = render 'pictures/new'

          // --- Videos Tab
          #videos.tab-pane
            = render 'videos/new'
    .col-md-5
      = render 'edit_tags' unless @trip.new_record?
      = render 'activities/menu', :trip => @trip

  %hr
  = icon_link_to t('trips.buttons.show'), @trip, 'pencil', :class => 'btn'
  = icon_link_to t('trips.buttons.list'), trips_path, 'arrow-left', :class => 'btn'