= breadcrumps link_to(t('trips.title'), trips_path), [link_to('home', root_path)]

.container

  .row.blog-page

    // --- Main Container
    .col-md-9
      = render 'search_bar'

      #trips_result
        - if @trips.any?
          = render 'list'
        - else
          .alert.alert-warning{style: "margin-top:20px;"}
            = t('trips.search.no_results')
          
          - if @location.present?
            = content_tag :div, '', class: 'trip', data: {lon: @location.longitude, lat: @location.latitude}


    // --- Sidebar
    .col-md-3
      .gmap4.well{:style => 'height: 300px; width: 100%'}
      = render 'tag_cloud', :trips => @trips
 