= breadcrumps 'My guided trips', [link_to('home', root_path)]

.container.my-trips
  .row
    .col-md-9

      - if @trips.empty?
        .alert.alert-info= t('.no_current_trips')

      - else    
        %table.table-striped{style: "width:80%"}
          %thead
            %tr
              %th Name
              %th Updated
              %th

          %tbody
            - @trips.each do |trip|
              %tr
                %th.trip-name= link_to trip.name, trip
                %td= l(trip.created_at, :format => :short_date)
                %td.cf
                  .btn-group.pull-right
                    %button{:class => "btn dropdown-toggle", :'data-toggle' => "dropdown"}
                      Action 
                      %span.caret

                    %ul.dropdown-menu
                      %li= icon_link_to 'Show', trip, 'eye-open'
                      %li= icon_link_to 'Edit', edit_trip_path(trip), 'pencil'
                      %li= icon_link_to 'Destroy', trip, 'trash', :method => :delete, :data => { :confirm => t('general.confirm_delete') }
    .col-md-3
      = link_to icon_label(t('trips.new_trip'), 'plus'), new_trip_path, :class => 'btn btn-primary'