= breadcrumps 'New trip', [link_to('home', root_path), link_to('My trips', my_trips_path)]

.container
  = simple_form_for @trip do |f|
    = f.hidden_field :location_id, :id => 'location_id', :class => 'autosuggest-location-id'
    = show_errors( @trip ) if @trip.errors.any?

    .row
      .col-md-6
        .form-group
          = f.label :location
          = text_field_tag :location, (@trip.location.autocomplete_string if @trip.location.present?), 
            :class => 'autosuggest-location tooltip-field form-control', :data => {:content => t('trips.tooltips.location')}

        = f.input :name, :input_html => {:class => 'tooltip-field', :data => {:content => t('trips.tooltips.name')}}
        = f.input :description, :input_html => { :rows => 6, :class => 'tooltip-field wysihtml5', :data => {:content => t('trips.tooltips.description') }}
        = f.input :included, :input_html => { :rows => 4, :class => 'tooltip-field', :data => {:content => t('trips.tooltips.included') }}
        = f.input :required, :input_html => { :rows => 4, :class => 'tooltip-field', :data => {:content => t('trips.tooltips.required') }}
        
        .form-group
          = f.label :price
          .input-group
            %span.input-group-addon= icon_label '', 'usd'
            = f.text_field :price, :id => "appendedPrependedInput", :class => 'tooltip-field form-control', :data => {:content => t('trips.tooltips.price')}
        = f.input :min_participants, :class => 'tooltip-field', :data => {:content => t('trips.tooltips.min_participants')}

        .control-group
          .controls= f.submit t('button.save'), :class => 'btn btn-primary'