= breadcrumps @trip.name, [link_to('home', root_path), link_to('trips', trips_path)]

#trips_detail.container

  - unless @trip.is_published?
    .alert.alert-warning= t('.unpublished_notice')

  // ---- Main - Container
  .row.blog-page
    .col-md-8

      .blog.margin-bottom-40

        %h2= t('.agency_link_html', :agency_name => link_to(@trip.agency.name, @trip.agency, class: 'color-blue'))
        .blog-post-tags
          %ul.list-unstyled.list-inline.blog-info
            - if @trip.comments.any?
              %li= star_rating_outp @trip.average_rating[:vote].to_i
              %li= icon_label t('trips.user_vote_html', vote: @trip.average_rating[:vote]), 'smile'
              %li= icon_label t('trips.comment_count', count: @trip.average_rating[:sum]), 'comments'

          - if @trip.tag_list.any?
            %ul.list-unstyled.list-inline.blog-tags
              %li
                - @trip.tag_list.each do |tag|
                  = link_to tag.capitalize, '#'

        / description
        .margin-bottom-40
          %h3= t('activerecord.attributes.trip.description')
          %p= @trip.description.html_safe
        
        - if @trip.included.present?
          .margin-bottom-40
            %h3= t('activerecord.attributes.trip.included')
            %p= @trip.included
        
        - if @trip.required.present?
          .margin-bottom-40
            %h3= t('activerecord.attributes.trip.required')
            %p= @trip.required

      / Tabs
      .tab-v2.margin-bottom-40
        %ul.nav.nav-tabs
          %li.active= link_to t('.tabs.professional_photos'), '#professional_photos', data: {toggle: 'tab'}
          %li= link_to t('.tabs.traveler_photos'), '#traveler_pictures', data: {toggle: 'tab'}
          %li= link_to t('.tabs.videos'), '#videos', data: {toggle: 'tab'}
        
        .tab-content
          #professional_photos.tab-pane.active
            - if user_signed_in? and current_user.is_agency?
              = link_to t('picture.new.agency_upload'), edit_trip_path( @trip, anchor: 'pictures' ), class: 'btn btn-primary'

            - if @trip.pictures.from_agency.any?
              .flexslider            
                %ul.slides.carousel              
                  - @trip.pictures.from_agency.each_with_index do |pic, index|
                    %li
                      = link_to( pic.file.url(:big), data: {rel: 'fancybox-button'}, class: 'fancybox-button zoomer') do
                        %span.overlay-zoom
                          = image_tag( pic.file.url(:fixed_thumb))
                          .zoom-icon

          #traveler_pictures.tab-pane
            .gallery-container.clearfix
              = render partial: "pictures/picture", collection: @trip.pictures.from_traveler
            
            - if user_signed_in?
              - unless current_user.is_agency?
                = form_for Picture.new(:trip_id => @trip.id), :html => { :multipart => true } do |f|
                  = f.hidden_field :trip_id
                  = f.file_field :file, class: 'file btn-primary', title: t('picture.new.browse')
                  = f.submit t('button.upload'), :class => 'btn btn-primary'
            - else
              .alert.alert-info= t('picture.new.login_before')
      
          #videos.tab-pane
            .video-container
              - @trip.videos.each do |video|
                .row.blog.blog-medium.margin-bottom-30
                  .col-md-3.img-container
                    = link_to( video, title: t('picture.zoom'), class: "zoomer remote-modal") do
                      %span.overlay-zoom
                        = image_tag( video.thumbnail, style: "width:100%" )
                        .zoom-icon
                  .col-md-9
                    %h4= video.title
                    %p= truncate video.description, length: 280

      / Comments
      #comments_tab
        .headline
          %h2= t('.comments_title')
        - if @trip.comments.empty?
          %p= t('comments.no_comments')
        - else
          = comments_for( @trip )
        - if user_signed_in? and !current_user.is_agency?
          = icon_link_to t('trips.add_comment'), new_comment_path( :trip_id => @trip.id ), 'comment', :class => "btn-u btn-u-blue remote-modal"    

      - if user_signed_in? and @trip.is_the_editor? current_user
        %hr
        = icon_link_to t('button.edit'), edit_trip_path(@trip), 'pencil', :class => 'btn-u'
        = icon_link_to t('trips.buttons.list'), trips_path, 'arrow-left', :class => 'btn-u'

        - if @trip.is_published?
          = link_to t('trips.buttons.unpublish'), trip_path(@trip, {:trip => {:is_published => false}}), :class => 'btn-u btn-u-red', :method => 'put'
        - else
          = link_to t('trips.buttons.publish'), trip_path(@trip, {:trip => {:is_published => true}}), :class => 'btn-u btn-u-green', :method => 'put'


    // ---- Side-Bar Container
    .col-md-4.magazine-page
      
      / Google Mpas
      .headline.headline-md
        %h2= t('.location_title')
      .well.margin-bottom-40{:style => 'padding: 0; text-align: center'}
        = draw_a_map( @trip.location )

      .headline.headline-md
        %h2= t('.facts_title')
      %table.table.table-bordered.margin-bottom-40
        %tr
          %th= t('activerecord.attributes.trip.price')
          %td= number_to_multi_currency( @trip.convert_price_to( users_currency ), users_currency.downcase, :precision => 0 )  
        %tr
          %th= t('activerecord.attributes.trip.min_participants')
          %td= @trip.min_participants
        %tr
          %th= t('activerecord.attributes.trip.days')
          %td= @trip.days  
      
      - if user_signed_in? and current_user.is_agency?
        = render 'activities/menu', :trip => @trip
      - else
        .headline.headline-md
          %h2= t('.activities_title')
        = render 'activities/list', :trip => @trip

