= breadcrumps t('user.edit.title'), [link_to('home', root_path)]

.container
  .row

    .col-md-3
      #edit_user_avatar
        = image_tag current_user.avatar.url(:medium) if current_user.avatar.present?
        .upload-avatar
          = form_for(resource, :url => user_avatar_path, :method => :put) do |f|
            = f.file_field :avatar, title:t('user.edit.avatar_upload'), class:"file btn btn-primary"

      - if current_user.is_agency?
        .margin-top-10= link_to t('user.edit.preview_profile'), current_user.agency, :class => 'btn btn-primary'

    .col-md-9
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
        :html => { :method => :put }) do |f|

        = devise_error_messages!

        = content_panel icon_label(t('user.edit.personal_form'), 'user' ) do
          = f.input :email

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for:
              = resource.unconfirmed_email

          = f.input :username
          = f.input :first_name
          = f.input :last_name

          = f.label :country
          = f.country_select :country, {}, class: 'form-control'


        = content_panel icon_label(t('user.edit.password_form'), 'key') do
          %p= t('user.edit.password_hint')

          .row
            .col-md-6= f.input :password, :autocomplete => "off", :value => ''
            .col-md-6= f.input :password_confirmation

        = f.fields_for :agency do |builder|
          = content_panel icon_label(t('user.edit.agency_form'), 'suitcase') do
            #agency= render "agencies/form", :f => builder

        = f.submit "Update", :class => 'btn btn-primary'

        //%h3 Cancel my account

        //%p
        //  Unhappy?
        //  = button_to "Cancel my account", registration_path(resource_name),
        //    :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn'
