= breadcrumps 'Sign up', [link_to('home', root_path)]

.container
  .row
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      = simple_form_for((params[:agency] ? resource.with_agency : resource), as: resource_name, url: registration_path(resource_name), html: { class: "reg-page"}) do |f|
        .reg-header
          %h2= t('user.signup.title')
          %p
            = t('user.signup.sign_in_hint',
              link: link_to( t('user.signup.sign_in_label'), new_session_path(resource_name), class: 'color-green')).html_safe

            - unless params[:agency]
              %br
              = t('user.signup.agency_sign_up_hint',
                link: link_to( t('user.signup.agency_sign_up_label'), new_registration_path(resource_name, agency:true), class: 'color-green')).html_safe

        = devise_error_messages!

        = f.input :email
        = f.input :username
        = f.input :first_name
        = f.input :last_name
        = f.label :country
        = f.country_select :country, {}, class: 'form-control'

        = f.fields_for :agency do |builder|
          = render "agencies/form", f: builder

        %hr
        .row
          .col-sm-6= f.input :password
          .col-sm-6= f.input :password_confirmation
        %hr
        .row
          .col-lg-6= t('user.signup.terms_and_conditions_html')
          .col-lg-6.text-right
            = f.submit "Sign up", class: 'btn-u'
