.comment-blocks
  .row
    .col-md-2
      = image_tag comment.user.avatar.url(:thumb), :class => 'img-responsive'
    .col-md-3
      = star_rating_outp( comment.vote )

      %ul.list-unstyled
        %li= icon_label t('comments.author_html', :name => comment.user.username, :country => comment.user.country_name), 'globe'
        %li= icon_label l(comment.created_at, :format => :long_date), 'calendar'

    .col-md-7
      %p= comment.body

      // allow the user to edit the comment if its his
      - if user_signed_in? and comment.is_the_author? current_user
        %ul.fa-buttons.pull-right
          %li= icon_link_to t('button.edit'), edit_comment_path( comment ), 'pencil', :class => "remote-modal"
          %li= icon_link_to t('button.delete'), comment, 'trash', :method => 'delete'
