.flash_msg{:style => 'display: none'}

= simple_form_for @comment do |f|
  = f.hidden_field :trip_id
  
  = f.input :body, as: :text, input_html: { rows: 5 }
  = star_rating 10, 'comment[vote]', @comment.vote


:javascript
  $('.star').rating({split: 2});