- content_for :modal_header do
  = t('comments.edit.title')

- content_for :modal_body do  
  = render 'form'

- content_for :modal_footer do  
  = submit_tag t('button.save'), :class => 'btn btn-primary'