- content_for :modal_header do  
  %h2= t('passwords.new.title')

- content_for :modal_body do  
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :id => 'new_password' } ) do |f|    
    .flash_msg
    = f.input :email

- content_for :modal_footer do
  = submit_tag t('passwords.new.submit'), :class => "btn btn-primary"