- if user_signed_in?
  = simple_form_for Video.new(:trip_id => @trip.id) do |f|
    = f.hidden_field :trip_id
    = f.input :key, title: t('picture.new.browse')
    = f.submit t('button.save'), :class => 'btn btn-primary'
  %hr


- @trip.videos.each do |video|
  .row.blog.blog-medium.margin-bottom-40
    .col-md-3.img-container
      = link_to( video, title: t('picture.zoom'), class: "zoomer remote-modal") do
        %span.overlay-zoom
          = image_tag( video.thumbnail, style: "width:100%" )
          .zoom-icon
        .actions.clearfix
          = icon_link_to '', video, 'trash', {:method => :delete, :title => t('button.delete')}

    .col-md-9
      %h4= video.title
      %p= truncate video.description, length: 280