- content_for :modal_header do
  = @video.title

- content_for :modal_body do  
  %iframe{ width:"540", height:"315", src:"#{@video.source_url}?html5=1&showinfo=0", frameborder:"0", allowfullscreen:true }