- if controller.action_name == 'new'
  .reg-header{style:"margin:40px 0 20px;"}
    %h2 Agency Details
    %p
      = t('user.signup.user_sign_up_hint', 
      link: link_to( t('user.signup.user_sign_up_label'), new_registration_path(resource_name), class: 'color-green')).html_safe            

= f.input :name
= f.input :description, as: :text, input_html: { rows: 5 }
= f.input :street

.row
  .col-sm-3= f.input :zip
  .col-sm-9= f.input :city