= breadcrumps @agency.name, [link_to('home', root_path)]

.container

  .row.margin-bottom-30
    .col-md-9.mb-margin-bottom-30
      .headline
        %h2= t('agency.description_title', agency_name: @agency.name)
      %p= @agency.description

    .col-md-3
      .headline
        %h2= t('agency.contacts_title')
      %ul.list-unstyled.who
        %li= icon_label @agency.full_address, 'home'
        %li= icon_label @agency.email, 'envelope-alt'
        %li= icon_label @agency.phone, 'phone-sign'
        %li= icon_label 'http://www.example.com', 'globe'

  / offered trips
  - if @agency.trips.any?
    .headline
      %h2= t('agency.trips_title')
    .trips-result.row.blog-page
      = render :partial => 'trips/trip', collection: @agency.trips


  - if @agency.belongs_to? current_user
    = icon_link_to t('button.edit'), edit_user_registration_path( anchor: 'agency' ), 'pencil', class: 'btn-u btn-u-green'