/ === Header ===
.header
  .navbar.navbar-default{role: "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.style-icons{href: "/"}
          %i.icon-comments-alt.icon-round.icon-bg-grey{style: "text-align: center"}
          %span.logo guided-trips.com

      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown.active
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
              Home
              %i.icon-angle-down
            %ul.dropdown-menu
              %li= link_to 'My trips', my_trips_path
              %li= link_to 'New trip', new_trip_path

          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
              Profile
              %i.icon-angle-down
            %ul.dropdown-menu
              %li= link_to "Edit Profile", edit_user_registration_path

          %li.hidden-sm
            %a.search
              %i.icon-search.search-btn
        = render 'static/search_field'