/ === Header ===
.header
  .navbar.navbar-default{role: "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.style-icons{href: "/"}
          %i.icon-comments-alt.icon-round.icon-bg-grey{style: "text-align: center; background-color: #687074"}
          %span.logo guided-trips.com

      .collapse.navbar-collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.navbar-right

          %li= link_to 'Home', root_path

          %li.dropdown.active
            = link_to trips_path, :class => 'dropdown-toggle', :data => {'close-others'=>"false", 'delay'=>"0", 'hover'=>"dropdown", 'toggle'=>"dropdown"} do
              Trips
              %i.icon-angle-down
            %ul.dropdown-menu
              %li= link_to '... by location', trips_path('search-mode' => 'location')
              %li= link_to '... by keyword', trips_path('search-mode' => 'text')

          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
              Registration
              %i.icon-angle-down
            %ul.dropdown-menu              
              %li= link_to 'Login', '/modal_sign_in', :class => 'remote-modal'
              %li= link_to 'Forgot Password', new_password_path(resource_name), :class => 'remote-modal'
              %li= link_to 'Sign up', new_registration_path(resource_name)
              %li= link_to 'Sign up as an agency', new_registration_path(resource_name, agency:true)

          %li.hidden-sm
            %a.search
              %i.icon-search.search-btn
        = render 'static/search_field'