.search-open
  = form_tag trips_path, :class => 'input-group', :method => 'get' do
    = hidden_field_tag :location_id, nil, :class => 'autosuggest-location-id'
    = text_field_tag 'search', '', :placeholder => "Country or City", :class => 'form-control autosuggest-location'
    %span.input-group-btn
      = submit_tag 'Go', :class => 'btn btn-u'