
= render 'layouts/slider'

.purchase
  .container 
    .row
      .col-md-8
        %h1 Plan your trips with GuidedTrips.com
        %p A tour guide (U.S.) or tourist guide (European) provides assistance, information and cultural, historical and contemporary heritage interpretation to people on organized tours and individual clients at educational establishments, religious and historical sites, museums, and at venues of other significant interest.

.container.margin-bottom-40
  .row
    // --- Trips preview
    .col-md-6
      .headline
        %h3 Latest Trips
      .trips-preview
        - Trip.published.limit(3).each do |trip|
          .tag-box.tag-box-v6
            = render 'trips/trip_small', :trip => trip

    // --- Testimonials
    .col-md-6
      .headline
        %h3 Testimonials
      #testimonials-3.carousel.slide.testimonials.testimonials-v1
        .carousel-inner
          - Comment.limit(3).each_with_index do |comment, i|
            = content_tag :div, :class => "item#{i==0 ? ' active' : ''}" do
              %p= comment.body
              .testimonial-info
                = image_tag comment.user.avatar.url(:thumb)
                %span.testimonial-author
                  = comment.user.username
                  %em= comment.user.country_name

        .carousel-arrow
          %a.left.carousel-control{"data-slide" => "prev", href: "#testimonials-3"}
            %i.icon-angle-left
          %a.right.carousel-control{"data-slide" => "next", href: "#testimonials-3"}
            %i.icon-angle-right

.container.margin-bottom-40
  .headline
    %h3 Countries
  %ul.list-unstyled.blog-tags
    - Trip.country_cloud.each do |ctr| 
      %li
        = link_to trips_path(location_id: ctr.id, search: ctr.name) do
          %i.icon-location-arrow
          = "#{ctr.name} (#{ctr.sum})"
.container
  .row
    .col-md-4
      .service
        %i.icon-globe.service-icon
        .desc
          %h4 Reisen
          %p Von 3 Stunden Angel Touren in Brandenburg bis hin zu 7 Tages Segelturns in der Karibik, hier findest Du alles überall.
    .col-md-4
      .service
        %i.icon-group.service-icon
        .desc
          %h4 Touren anbieten
          %p Ob als Full-Service Reiseagentur oder als Privater Anbieter mit einer Passion, hier kann Jeder seine Touren anbieten.
    .col-md-4
      .service
        %i.icon-compass.service-icon
        .desc
          %h4 Erforschen
          %p Länder und Regionen und ihre Geheimnisse von Einheimmischen kennelernen.
  / /row