= breadcrumps 'Login', [link_to('home', root_path)]

.container
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'reg-page'}) do |f|
        .reg-header
          %h2= t('user.signin.title')
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.icon-user
          = f.email_field :email, :autofocus => true, :placeholder => 'E-Mail', :class => 'form-control'
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.icon-lock
          = f.password_field :password, :placeholder => 'Password', :class => 'form-control'
        .row
          - if devise_mapping.rememberable?
            .col-md-6
              = f.label :remember_me, :class => 'checkbox' do 
                = f.check_box :remember_me
                = t('user.signin.remember_me')
          .col-md-6
            = f.submit t('user.signin.submit'), :class => "btn-u pull-right"
        
        %hr/
        %h4= t('user.signin.forgot_password_title')
        %p= t('user.signin.forgot_password_text_html', link: link_to( t('button.click_here'), new_password_path(resource_name), class: 'color-green remote-modal'))      
        %p
          - ['facebook'].each do |provider|    # , 'twitter', 'github', 'linkedin', 'google_oauth2'
            = icon_link_to "Login via #{provider.to_s.titleize}", omniauth_authorize_path('user', provider), 'facebook', :class => 'btn-u'
            %br
