- content_for :modal_header do  
  %h2= t('user.signin.title')

- content_for :modal_body do  
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => 'modal_sign_in'}) do |f|
    .input-group.margin-bottom-20
      %span.input-group-addon
        %i.icon-user
      = f.email_field :email, :autofocus => true, :placeholder => 'E-Mail', :class => 'form-control'
    .input-group.margin-bottom-20
      %span.input-group-addon
        %i.icon-lock
      = f.password_field :password, :placeholder => 'Password', :class => 'form-control'
    - if devise_mapping.rememberable?
      = f.label :remember_me, :class => 'checkbox' do 
        = f.check_box :remember_me
        = t('user.signin.remember_me')
    %hr/
    %h3= t('user.signin.forgot_password_title')
    %p= t('user.signin.forgot_password_text_html', 
      link: link_to( t('button.click_here'), new_password_path(resource_name), class: 'color-green remote-modal'))      

    %hr/
    %h3= t('user.signin.social_login_title')
    %p
      - ['facebook'].each do |provider|    # , 'twitter', 'github', 'linkedin', 'google_oauth2'
        = icon_link_to "Login via #{provider.to_s.titleize}", omniauth_authorize_path('user', provider), 'facebook', :class => 'btn-u'
        %br

- content_for :modal_footer do  
  = submit_tag t('user.signin.submit'), :class => "btn btn-primary", :onclick => "$('#modal_sign_in').submit()", :form => "modal_sign_in"