= breadcrumps 'My Reviews', [link_to('home', root_path), link_to("Edit Profile", edit_user_registration_path)]

.container
  .row
    .col-md-9

      - @comments.each do |comment|
        .comment-blocks
          .row
            .col-md-3
              = star_rating_outp( comment.vote )

              %ul.list-unstyled
                %li= icon_label l(comment.created_at, :format => :long_date), 'calendar'

            .col-md-7
              %h4= icon_link_to comment.trip.name, comment.trip, 'share-alt'
              %p= comment.body

            .col-md-2
              %ul.list-unstyled
                %li= icon_link_to t('button.edit'), edit_comment_path( comment ), 'pencil', :class => "remote-modal"
                %li= icon_link_to t('button.delete'), comment, 'trash', :method => 'delete'
