- if user_signed_in?
  = form_for Picture.new(:trip_id => @trip.id), :html => { :multipart => true } do |f|
    = f.hidden_field :trip_id
    = f.file_field :file, class: 'file btn-primary', title: t('picture.new.browse')
    = f.submit t('button.upload'), :class => 'btn btn-primary'
  %hr

.gallery-container.clearfix
  - @trip.pictures.each do |pic|
    = content_tag :div, class: "img-container#{' index-pic' if pic.use_for_index}" do
      = link_to( pic.file.url(:big), data: {rel: 'fancybox-button'}, title: t('picture.zoom'), class: "fancybox-button zoomer") do
        %span.overlay-zoom
          = image_tag( pic.file.url(:fixed_thumb))
          .zoom-icon
      .actions.clearfix
        = icon_link_to '', pic, 'trash', {:method => :delete, :title => t('button.delete')}
        = icon_link_to '', use_as_index_picture_path( pic ), 'asterisk', {:method => :put, :title => t('picture.use_for_index')} unless pic.use_for_index


