#pictures_tab
  %ul.bxslider
    - @trip.pictures.each do |pic|
      %li.center= image_tag( pic.file.url(:big))    

  #picture_pager
    - @trip.pictures.each_with_index do |pic, index|
      = image_tag pic.file.url(:thumb), :data => {'slide-index' => index}, :class => 'img-polaroid'
