= content_tag :div, class: "img-container" do
  = link_to( picture.file.url(:big), data: {rel: 'fancybox-button'}, title: t('picture.zoom'), class: "fancybox-button zoomer") do
    %span.overlay-zoom
      = image_tag( picture.file.url(:fixed_thumb))
      .zoom-icon