- content_for :modal_header do
  Gallery

- content_for :modal_body do
  #zoom_gallery{:style => "width: 810px;"}
    .zoom-image= image_tag( @zoom_pic.file.url(:big), :class => 'img-polaroid')

    - @all_pictures.each do |pic|
      .img-container.img-polaroid= image_tag pic.file.url(:thumb)

  = javascript_tag 'init_pictures();'