// This is a manifest file that'll be compiled into including all the files listed below.
// Add new JavaScript/Coffee code in separate files in this directory and they'll automatically
// be included in the compiled file accessible from http://example.com/assets/application.js
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
//= require jquery
//= require jquery_ujs
//= require jquery-ui-1.9.2.custom.min
//= require bxslider/jquery.bxslider.min
//= require jquery.rating
//= require bootstrap/bootstrap.min
//= require bootstrap/bootstrap.file-input
//= require bootstrap/bootstrap-select.min


// --- Unify ---
//= require unify/app
//= require unify/index
//= require unify/back-to-top
//= require unify/hover-dropdown.min
//= require unify/jquery-migrate-1.2.1.min

// --- Plugins ---
//= require modernizr
//= require flexslider/jquery.flexslider-min
//= require parallax-slider/jquery.cslider
//= require fancybox/jquery.fancybox
//= require bootstrap-wysihtml5
//= require bootstrap-wysihtml5/locales
//= require jquery.toggle-tags

// --- Sunspot Autocomplete ---
//= require solr-autocomplete/ajax-solr/core/Core
//= require solr-autocomplete/ajax-solr/core/AbstractManager
//= require solr-autocomplete/ajax-solr/managers/Manager.jquery
//= require solr-autocomplete/ajax-solr/core/Parameter
//= require solr-autocomplete/ajax-solr/core/ParameterStore
//= require solr-autocomplete/jquery-autocomplete/jquery.autocomplete

//= require gmap3.min
//= require pictures
//= require trips
//= require trips_search
//= require comments

//= require_self

var url_hash = $(location).attr('hash');

// ===========================================
// --- Flash Messages
// ===========================================

function show_flash( el, msg, cl ) {
	el.find('.flash_msg').hide().html( "<div class='"+ cl +"'>"+ msg +"</div>" ).show();
}

function show_alert( el, msg ) {
	show_flash( el, msg, 'alert alert-danger' );
}

function show_success( el, msg ) {
	show_flash( el, msg, 'alert alert-success' );
}


var modal_el = $('#modal_container');

// ===========================================
// --- General init
// ===========================================
function application_init() {

	// BxSlider
	//$('.bxslider').bxSlider();
	$('.tooltip-field').popover({trigger: 'focus'});

	$('.styled-select').selectpicker();

	// --- Remote Modal
	$(document).on('click', '.remote-modal', function(e) {
		e.preventDefault();
		modal_el.load( $(this).attr('href'), function() {
			open_modal();
			init_modal();
		});
	});

	// --- init simple WYSIWYG Editor
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5({"image": false, "link": false});
  });

  // --- acitvate tab if hash is present
  if (url_hash.length > 0)
  	activate_tab( url_hash );
}


// ===========================================
// --- Modal
// ===========================================
function open_modal() {
	$('.modal').modal({show: true});
}

function hide_modal() {
	$('.modal').modal('hide');
}

function init_modal() {

	// remove dbl event handlers
	modal_el.off( "click", "input[type='submit']" );

	// Submit form in Modal
	modal_el.on( "click", "input[type='submit']", function() {
		var form_el = modal_el.find('form');
		var form_val = form_el.serialize(); //serialize_form( form_el )

		$.post(form_el.attr('action'), form_val ).done(function(data) {
			// determine the return type (json or html)
			if(typeof(data) === "string") {
				hide_modal();
				modal_el.html( data );
				open_modal();
		  } else {
				if (data.success) {
					show_success( modal_el, data.msg );
					if (data.redirect_to.length > 0)
						window.setTimeout( window.location.replace(data.redirect_to), 5000);
				} else {
					show_alert( modal_el, data.msg );
				}
		  }
			//init_modal();
		});
	});
}


// ===========================================
// --- activate tab if #tag_id is passed
// ===========================================
function activate_tab( id ) {
	$('.nav-tabs [href="'+ id +'"]').tab('show');
}


// ===========================================
// --- Google Maps
// ===========================================
$(".gmap3").gmap3({
  marker:{
    latLng: [$(".gmap3").data('lat'), $(".gmap3").data('lng')]
  },
  map:{
    options:{
      zoom: 6
    }
  }
});


$(function() {

	// Fiel Input Fields style
	$('.file').bootstrapFileInput();

	// Solr Autocomplete / autosuggest
	$('.autosuggest-location').autosuggest('http://trips.felix-abele.de:8080/solr/<%= Rails.env %>/', 'location_name', {
	  onSelect: function( value ) {
	    $('.autosuggest-location-id').val( value.data[1] );
	  }
	});

	/*
	var autocomp_el = $('#autocomplete_location');
	var country_select_el = autocomp_el.find('#location_country');
	var city_select_el = autocomp_el.find('#location_city');
	var selected_country = country_select_el.val();
	var value_target_el = $('#trip_location_id');

	toggle_location_field();

	country_select_el.change(function() {
		selected_country = $(this).val();
		city_select_el.val('');
		toggle_location_field();
	});

	function toggle_location_field() {
		if ( (selected_country == '') && (value_target_el.val() == '') ) {
			autocomp_el.find('.complete_city').addClass('hidden');
		} else {
			autocomp_el.find('.hidden').removeClass('hidden');
		}
	}

	city_select_el.autocomplete({
		source: function( request, response ) {
			var country = autocomp_el.find('#location_country').val();
			$.getJSON( "/locations/"+ country +".js", {
				rows: 12,
				search_string: request.term
			}, response );
		},
		minLength: 3,
		select: function( event, ui ) {
			value_target_el.val( ui.item.id );
		},
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		}
	});
	*/
	application_init();
});
