// ============================
//  Trips Search
// ============================

var TripsSearch = new function() {

  this.form_el = '';
  this.result_el = '';
  this.tags_el = '';
  this.search_path = '/trips/search';
  this.search_mode = 'Location'

  // -------------------------
  //  Initialize
  // -------------------------
  this.init = function( form, result, tags, search_mode ) {
    this.form_el = $(form);
    this.result_el = $(result);
    this.tags_el = $(tags);
    this.search_mode = search_mode;
    var obj = this;

    this.form_el.submit(function(e) {
      e.preventDefault();
      obj.submit_form();
    });

    this.tags_el.find('input:checkbox').change(function() {
      obj.submit_form();
    });

    $('#search_mode_select li a').click(function() {
      obj.search_mode = $(this).html();
      obj.set_search_mode();
    });
    obj.set_search_mode();
  };

  // -------------------------
  //  Private
  // -------------------------
  var get_tags = function( el ) {
    var tags = [];
    el.find('input:checkbox').each(function() {
      if ($(this).is(':checked'))
        tags.push( $(this).val() );
    });
    return tags;
  };

  var set_tags = function( el, tag_list ) {
    tag_list.find('span').each(function() {
      el.find(':checkbox[value='+ $(this).html() +']').attr('checked', true);
    });
  }

  // -------------------------
  //  Public
  // -------------------------

  // --- change search Mode
  this.set_search_mode = function() {
    var obj = this;
    var input_field = obj.form_el.find('.search-term');
    obj.form_el.find('.search-mode').html( obj.search_mode );

    // trigger autosuggest
    if (obj.search_mode == 'Location') {
      $(input_field).autosuggest("http://trips.felix-abele.de:8080/solr/<%= Rails.env %>/", 'location_name', {
        onSelect: function( value ) {
          if (value)
            obj.form_el.find('#location_id').val( value.data[1] );
        }
      });
    } else {
      $(input_field).off();
    }
  };

  // --- Submit Form
  this.submit_form = function( term ) {
    var params = this.form_el.serializeArray();
    params.push( {'name': 'tags', 'value': get_tags( this.tags_el )} );
    this.load_result( params );
  };

  // --- load result
  this.load_result = function( params ) {
    var obj = this;
    $.get(obj.search_path, params, function(data) {
      obj.result_el.html(data);
      obj.after_result();
    });
  };

  // --- after result is loaded
  this.after_result = function() {
    set_tags( this.tags_el, $('#trip_tags') );
  }

}; // END --> Trips Search
