@import "bootstrap/bootstrap.min.css";
@import "bootstrap/bootstrap-select.min.css";
@import "font-awesome.css";

@import "unify/app.css";
@import "unify/style.css";
@import "unify/header1.css";
@import "unify/responsive.css";
@import "unify/header1.css";
@import "unify/blue.css";
@import "unify/header1-blue.css";
@import "unify/page_magazine.css";
@import "unify/blog.css";

// --- Plugin
@import "fancybox/jquery.fancybox.css";
@import "parallax-slider/parallax-slider.css";
@import "bxslider/jquery.bxslider.css";
@import "flexslider/flexslider.css";
@import "jquery.rating.css";
@import "bootstrap-wysihtml5/index.css";

// --- our styles
@import "trips.css";
@import "users.css";

@import "solr-autocomplete/jquery.autocomplete.css";


h1 {
  margin-bottom: 20px;
}

// general flash-messages
.flash_msg {
  .alert {margin-top: 20px;}
}

.logo { 
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  color: #687074;
  letter-spacing: 2px; padding-left: 8px;
}

/*Registration and Login Page v1
------------------------------------*/
.reg-page {
  color: #555;
  padding: 30px;
  background: #fefefe;
  border: solid 1px #eee;
  box-shadow: 0 0 3px #eee;
}

/*Reg Header*/
.reg-header {
  color: #555;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: solid 1px #eee;
}

.reg-header h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/*Reg Forms*/
.reg-page label {
  color: #777;
}

/*comment Page v1
------------------------------------*/
.comment-blocks {
  overflow: hidden;
  padding: 15px 20px;
  margin-bottom: 10px;
  background: #fcfcfc;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;

  p a {color: #72c02c;}
  li i {
    color: #78ccf8;
    font-size: 12px;
    margin-right: 5px;
  }
  .comment-img img {
    display: block;
    margin: 5px 10px 10px 0;
  }

  h2 {
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
  }  
}

.comment-rating li {
  display: inline;

  i {
    color: #f8be2c;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;}

  i:hover {
    color: #f8be2c;}  
}

/*comment Block Colored*/
.comment-blocks-colored p,
.comment-blocks-colored h2 a,
.comment-blocks-colored .comment-img li,
.comment-blocks-colored .comment-img li i {
  color: #fff;
}


// inout-field Popover
.popover {
  width: 400px;
}

.margin-top-10 {margin-top: 10px}
.margin-top-20 {margin-top: 20px} 
.margin-top-40 {margin-top: 40px} 