

/* Trips Details */
#trips_detail h4 {
  margin-bottom: 20px;
}

#trips_detail .flexslider {
  margin-top: 20px;
}

.video-container {
  padding-top: 20px;
}

/* Trips Preview */
.trip-preview-container { padding: 0 15px }
.trip-content h4 {
  margin: 0px;}
.trip-content small {
  color: #6E6E6E; padding-top: 4px;}
.trip-tags {
  margin-top: 10px;}
.trip-price {
  font-size: 28px; text-align: right}
.trip-days {
  font-size: 14px; padding: 8px 4px 0 0; color: #6E6E6E; text-align: right}
.trip-comments {
  margin-top: 10px;}

.trip-excerpt {
  border-top: 1px solid #EEEEEE;
  padding-top: 20px;
}
.trip-preview-container {
  .trip-image { margin-top: 15px;}
}

// My Trips
.my-trips {
  .trip-name { padding-left: 10px; }
}

/* Trips search */
#trips_search {
  .btn-primary {width: 100%}
  .s-cont {float: left; padding-top: 4px; margin-left: 10px; }
  .input-group-btn .btn-default { border-right: 0 }}  
#trip_tags {
  margin: 6px 0 20px 0;}
#trip_tags .label {
  cursor: pointer;
}


/* Google Maps */
.gmap3 {
  height: 250px; /*width: 400px;*/
}

/* Activity */
.activity-menu {
  h4 {
    padding-bottom: 6px;
    border-bottom: 1px dotted #E4E9F0;}
  
  .activity-item {
    padding: 6px; margin: 7px 0px;
    font-size: 12px; background-color: #FAFAFA}
  .activity-item .time {}
  .activity-item .text {
    color: #999999;}  
}

/* Images */
#new_picture {
  padding-top: 10px;}
.gallery-container {
  .img-container {
    float: left; 
    margin: 5px;
    img { width: 140px } 
    border: 1px solid #FAFAFA;

    .actions {
      padding: 2px 6px;
      background-color: #FAFAFA;
      font-size: 14px;
      a {display: block; float: left; width: 22px; text-align: center}
      
    }
    &:first-child {
      margin-left: 0
    }    
  }
  .index-pic {
    border-color: #3498DB 
  }

}


// Small Trip preview
.trip-small-preview-container {
  //.trip-image img { height: 70px; }
  .trip-tag-line { margin-bottom: 0px}
  h4 {
    margin: 0px; 
    a {color: #000 }}
  .trip-price { font-size: 22px }
}

// used in slider
.trips-preview {
  .tag-box {padding: 10px; margin-bottom: 10px;}
}