.blog-twitter
  - day = 0
  - trip.days.times do
    - day += 1

    %h3= t('trips.day_title', :day => day)
    - trip.activities_for_day( day ).each do |activity|
      .blog-twitter-inner
        .time= activity.time.strftime('%H:%M') 
        %span= activity.text