.headline
  %h3= t('activity.menu.title')

.activity-menu
  - day = 0
  - has_activites = false
  - trip.days.times do
    - day += 1
    %h4.nav-header= t('trips.day_title', :day => day)

    .margin-bottom-40
      - trip.activities_for_day( day ).each do |activity|
        - has_activites = true
        .activity-item
          .row
            .col-md-2.time= activity.time.strftime('%H:%M') 
            .col-md-10.text
              = activity.text
              %ul.fa-buttons.pull-right
                %li= icon_link_to '', edit_activity_path( activity ), 'edit', :class => "remote-modal", :title => t('button.edit')
                %li= icon_link_to '', activity, 'trash', :method => :delete, :confirm => t('general.confirm_delete'), :title => t('button.delete')
        
      = icon_link_to t('trips.add_activity'), new_activity_path( :day => day, :trip_id => trip.id ), 'plus-sign', :class => "remote-modal"

  - if has_activites
    %h4.nav-header= t('trips.day_title', :day => (day+1))
    = icon_link_to t('trips.add_activity'), new_activity_path( :day => (day+1), :trip_id => trip.id ), 'plus-sign', :class => "remote-modal"