- content_for :modal_header do
	= t('activity.new.title')

- content_for :modal_body do	

	.flash_msg{:style => 'display: none'}

	= form_for @activity do |f|
		= f.hidden_field :trip_id
		= f.hidden_field :day

		.row
			.col-md-6.form-group
				= f.label :hour
				= f.select :hour, options_for_select((1..24).to_a), {}, {:class => 'form-control'}
			.col-md-6.form-group
				= f.label :minute
				= f.select :minute, options_for_select([0,15,30,45]), {}, {:class => 'form-control'}
		
		.form-group
			= f.label :text
			= f.text_area :text, :rows => 4, :class => 'form-control'

- content_for :modal_footer do	
	= submit_tag t('button.save'), :class => 'btn btn-primary'