= breadcrumps 'My Pictures', [link_to('home', root_path), link_to("Edit Profile", edit_user_registration_path)]

.container
  .row
    .col-md-9
      - @grouped_pictures.each do |trip, pictures|
        %h3= link_to trip.name, trip

        .gallery-container.clearfix
          - pictures.each do |pic|
            = content_tag :div, class: "img-container#{' index-pic' if pic.use_for_index}" do
              = link_to( pic.file.url(:big), data: {rel: 'fancybox-button'}, title: t('picture.zoom'), class: "fancybox-button zoomer") do
                %span.overlay-zoom
                  = image_tag( pic.file.url(:fixed_thumb))
                  .zoom-icon
              .actions.clearfix
                = icon_link_to '', pic, 'trash', {:method => :delete, :title => t('button.delete')}