.top
  .container
    %ul.loginbar.pull-right

      %li
        %i.icon-exchange
        %a Currencies
        %ul.currencies
          - AppConfig.major_currencies.each do |code|
            = content_tag :li, :class => (users_currency == code ? 'active' : '') do
              = icon_link_to( code, config_path(:set_currency, :currency => code), code.downcase, :method => 'put' )
          
      - if user_signed_in?
        %li.devider
        %li= link_to 'Logout', destroy_user_session_path, :method =>  'delete'
      -else
        %li.devider
        %li= link_to 'Sign up', new_registration_path(resource_name)
        %li.devider
        %li= link_to 'Login', '/modal_sign_in', :class => 'remote-modal'
        - #%li= link_to 'Login', new_session_path(resource_name)