/ === Slider ===
.slider-inner
  #da-slider.da-slider

    .da-slide
      %h2.slider-header
        %i Explore the world
        %br/
        %i with guided trips
      %p
        %i Reviews, information
        %br/
        %i and personal experience 
        %br
        %i about tours world wide.
      .da-img.da-content

        // main Search field
        = form_tag trips_path, :class => 'slider-searchbar tag-box tag-box-v6', :method => 'get' do
          = hidden_field_tag :location_id, '', :class => 'autosuggest-location-id'
          %h3.margin-bottom-30 Find a Trip in your prefered location
          .input-group
            = text_field_tag 'search', '', :placeholder => "Country or City", :class => 'form-control autosuggest-location'
            %span.input-group-btn
              = button_tag icon_label(t('button.search'), 'search'), :class => 'btn btn-u'
    
    .da-slide
      %h2.slider-header
        %i Plan your trip 
        %br
        %i in advance
      %p
        %i Stop checking different agencies on-site
        %br
        %i get in touch with the tour-guides online.
        %br
        %i One place for all offers
      .trips-preview.da-img.da-content
        - Trip.limit(3).each do |trip|
          .tag-box.tag-box-v6
            = render 'trips/trip_small', :trip => trip

    .da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next