
/ Modal
.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title= yield( :modal_header )
      
      .modal-body
        = yield( :modal_body )
      
      - footer = yield( :modal_footer )  
      - unless footer.blank? 
        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
          = footer.html_safe    
